SECRET_KEY='6l=@e2!@zngdz9ry!7&(l-*28y=zy47q4--s^#vuh2c2qr)t*b'
DEBUG=True
ALLOWED_HOSTS=*
DB_NAME='employees_catalog_db'
DB_USER='db_user'
DB_PASS='user_pass'
DB_HOST='127.0.0.1'
SETTINGS_MODULE=online_employees_catalog.settings
DB_PORT='5432'
USE_SQLITE=True
