{% extends 'employee_catalog/base.html' %}

{% block content %}
    
    <h1>{{ page_title }}</h1>
    <span>Всего сотрудников: {{ total_employees }}</span>
    
    {# Блок навигации #}
    {% include 'employee_catalog/_pagination.html' %}

    {# Список сотрудников #}
    <div class="employee_list" style="margin: 1rem;">
        {% for employee in page_obj %}
            <div class="employee_item" style="margin-left: {{ employee.depth|add:0 }}rem;">
                {{ employee }}
            </div>
        {% endfor %}
    </div>


    
{% endblock content %}
